import { model, Model } from 'mongoose'
import {{model}}Schema from './schema'
import {{model}}Document from './document'

export const {{model}}Model: Model<{{model}}Document> = model('{{model}}', {{model}}Schema)
